main {
    min-height: calc(100vh - 80px * 2 - 2px) !important;
}

.cap {
    font-size: 5em !important;
    opacity: .7;
    padding: .4em 1em !important;
    padding-top: .7em !important;
    margin: 0 !important;
}

.article.card {
    margin: 1em auto;
    max-width: 500px;
    height: 120px;
}

.article.card:hover {
    transform: scale(1.1);
    transform: translateX(-15px);
    box-shadow: 0 0 5px var(--dark);
}

.article.card .d-flex {
    height: 120px;
}

.article.card img {
    width: 118px;
    height: 118px;
    object-fit: cover;
}

.article.card .col-md-4 {
    width: 118px;
    height: 118px;
}

.article .card-body {
    overflow: hidden;
}

.article .card-title {
    font-size: 1em;
    color: var(--dark);
}
