main {
    min-height: calc(100vh - 80px * 2 - 2px) !important;
}

.cap {
    font-size: 5em !important;
    opacity: .7;
    padding: .4em 1em !important;
    padding-top: .7em !important;
    margin: 0 !important;
}

.article.card {
    margin: 1em auto;
    max-width: 500px;
    height: 120px;
}

.article.card:hover {
    transform: scale(1.1);
    transform: translateX(-15px);
    box-shadow: 0 0 5px var(--dark);
}

.article.card .d-flex {
    height: 120px;
}

.article.card img {
    width: 118px;
    height: 118px;
    object-fit: cover;
}

.article.card .col-md-4 {
    width: 118px;
    height: 118px;
}

.article .card-body {
    overflow: hidden;
}

.article .card-title {
    font-size: 1em;
    color: var(--dark);
}

.pagination {
    justify-content: center;
    margin: 3em;
}

.page > a,
.first > a,
.last > a {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
}

.navi-active > a {
    color: var(--dark);
}

.first { margin-right: .5em;}
.last { margin-left: .5em; }

.first,
.last {
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: solid 1px #eff1f4;
    padding: 5px;
    font-size: 70%;
    font-weight: normal;
}

.first:hover,
.last:hover {
    background-color: #F8F9FA;
}

.disabled {
    display: none;
}